@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-color: #121214;
    --text-color: #e1e1e6;
    --secundary-color: #202024;
    --font-size: 16px;
  }

  #root {
    user-select: none;
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-color);
    color: var(--text-color);
    border-radius: 8px;
    overflow: hidden;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--secundary-color);
  border-right: solid 6px var(--primary-color);
  border-top: solid 16px var(--primary-color);
}

.tiptap {
  font-size: var(--font-size);
}

.tiptap p {
  margin: 0;
}

.tiptap h1,
.tiptap h2,
.tiptap h3 {
  margin: 0;
}

.tiptap h1 {
  font-size: 1.5rem;
}

.tiptap h2 {
  font-size: 1.25rem;
}

.tiptap h3 {
  font-size: 1.125rem;
}

.tiptap a {
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}

.tiptap a:hover {
  text-decoration: underline;
}

.tiptap ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

.tiptap ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
}

.tiptap ul[data-type='taskList'] {
  padding: 0;
}

.tiptap ul[data-type='taskList'] li {
  display: flex;
  align-items: start;
  gap: 0.5rem;
}

.tiptap ul[data-type='taskList'] label {
  display: flex;
  align-items: center;
  padding-top: 2px;
}

.tiptap input[type='checkbox'] {
  margin-top: 3px;
  border-radius: 8px;
  width: 16px;
  height: 16px;
  accent-color: var(--secundary-color);
}

.tiptap input[type='checkbox']:not(:checked) {
  opacity: 0.5;
}

.tiptap li:has(input[type='checkbox']:is(:checked)) {
  text-decoration: line-through;
}

.tiptap hr {
  border: 0;
  border-top: 2px solid var(--text-color);
  opacity: 0.1;
  margin: 1rem 0;
}

.tiptap .is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
